*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.header{
    max-height:350px;
    height:100px;
    background-color: black;
    padding: 10px 0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo-text{
    font-size:24px;
    font-family: "Montserrat", sans-serif;
    margin-left:50px;
    color:#ffffff;
 
}

.navbar{
    margin-right:30px;
    justify-content:space-between;
}
.navbar nav ul{
    display: flex;
    gap: 10px;
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    padding: 5px 25px;
    color:#ffffff;
    font-size:20px;;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
}

.navbar ul li a:hover{
    background-color:darkgray;
    transition: transform 0.3s ease;
    border-radius:3px;
}

.body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.banner{
    width:100%;
    height:500px;   
    display:flex;
}
.banner img {
    filter: blur(0.2px);
      width: 33.33%;
}

.banner-text{
    color:white;
    padding-top: 20px;
    text-align: center;
    position:absolute;
    margin-left: 35%;
}

.container{    
background-color:black;
color:#ffffff;
}

.subcontainer1 h2{
    padding:15px 0px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size:24px;
}

.subcontainer1 h3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size:15px;
}

.subcontainer1 p{
    padding: 25px 0px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size:14px;
}

.container2{
    background-color: black;
    color:#ffffff;
    width:100%;
    height:400px;
    display:flex;
}

.rightcontainer1 img{
    display:block;
    margin-left:25%;
    width:50%;
}

.product-heading{

    text-align:center;
    font-size:38px;
    background-color:black;
    color:#ffffff;
    width:100%;
}

.product-container{
    font-family: "Montserrat", sans-serif;
    padding:30px 20px;
    display:flex;
    background-color:black;
    color:#ffffff;
    width:100%;
    height:500px;
}

.product-card{
    margin-left:50px;
    width:25%;
}

.product-card img{
    width:200px;
    height:200px;
}

.section4{
    margin-top:-60px;
    height:500px;
    display:flex;
    width:100%;
    background-color: black;
    color:#ffffff;
}

.section4 img{
    margin-left:300px;
    margin-right:50px;
    width:60%;
    display:filter;
}

.section4 .h3 .transparent{
    background-color: rgba(255,255,255,0.5);
}
.section4 h3{
    filter: blur(0.2px);
    letter-spacing:1px;
    font-weight: 150;
    font-family: "Montserrat", sans-serif;
    border-radius: 6px;
    margin-top:60px;
    position:absolute;
    margin-right: -200px;
    margin-left: 40px;
    padding: 30px 30px;
    width:35%;
    height:400px;
    background-color: #d4dae2;
    color:black;    
}
.cpright{
    padding-top: 20px;
    text-align: center;
    background-color:black;
    color:#ffffff;
    width:100%;
    height:50px;
}
.section5{
    padding-left:90px;
    padding-top: 50px;
    display:flex;
    background-color:black;
    color: #ffffff;
    width:100%;
    height:150px;
}
.section51{
    width:25%;
}
.section51 img{
    width:10%;
}
.section52{
    width:25%;
}
.section52 img{
    width:10%;
}
.section53{
    width:25%;
}
.section53 img{
    width:10%;
}
.section54{
    width:25%;
}
.section54 img{
    width:10%;
}